name: Sync Notion to Repo
on:
  schedule:
    - cron: '0 * * * *' # Runs every hour
  workflow_dispatch:      # Allows you to run it manually for testing

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Dependencies
        run: pip install requests

      - name: Run Sync Script
        env:
          notion_token: ${{ secrets.notion_token }}
        run: python sync_notion.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "simar-rekhi"
          git config --global user.email "srekhi.simar@gmail.com"
          git add notion_content.md
          git commit -m "Update content from Notion" || exit 0
          git push
